<br><br><br>
<h2>ALL STUDENTS AND MANAGEMENT RECORDS</h2>
                  <br><br>    
   <table class="table table-bordered" table-hover>
     <thead>
       <tr style="background-color: #6db6b9e6;">
         <th>Name</th>
         <th>Email</th>
         <th>Type</th>
        <th>Action</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Lahari</td>
         <td>lahri@gmail.com</td>
         <td>Student</td> 
        <td><a href="#" class="update">Update</a>
        <a href="#" class="cancel">Delete</a></td>
       </tr>
       <tr>
         <td>Sonu</td>
         <td>sonu123@gmail.com</td>
         <td>Student</td> 
        
        
          <td><a href="#" class="update">Update</a>
        <a href="#" class="cancel">Delete</a></td>
       </tr>
       <tr>
         <td>Preksha</td>
         <td>prek@gmail.com</td>
         <td>Student</td> 
         
          <td><a href="#" class="update">Update</a>
        <a href="#" class="cancel">Delete</a></td>
       </tr>

       <tr>
        <td>Tanvika</td>
        <td>tanu@gmail.com</td>
        <td>Student</td> 
        
         <td><a href="#" class="update">Update</a>
       <a href="#" class="cancel">Delete</a></td>
      </tr>

      <tr>
        <td>Nivedha</td>
        <td>nive@gmail.com</td>
        <td>Student</td> 
        <td><a href="#" class="update">Update</a>
       <a href="#" class="cancel">Delete</a></td>
      </tr>
     </tbody>
   </table>
   
 