
 
<body>
<div class="container">
<h2 ><b>Add New Books</b></h2>
<form class="book" action="" method="POST" style="text-align: center;">
  <input type="text" name="bid" class="form-control" placeholder="Book Id" required=""><br>
    <input type="text" name="name" class="form-control" placeholder="Book Name" required=""><br>
    <input type="text" name="authors" class="form-control" placeholder="Authors Name" required=""><br>
    <input type="text" name="edition" class="form-control" placeholder="Edition" required=""><br>
    <input type="text" name="status" class="form-control" placeholder="Status" required=""><br>
    <input type="text" name="quantity" class="form-control" placeholder="Quantity" required=""><br>
    <input type="text" name="department" class="form-control" placeholder="Department" required=""><br>
    <a style="color: black;" href="added-books" class="btn btn-default">Add</a>
</form>
</div>  
</body>          